.contentWrapper {
    max-width: 1220px;
    height: 100vh;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 1fr 453px;
    column-gap: 120px;
    position: relative;
}

.contentSigned::before {
    content: '';
    height: 100vh;
    width: 420px;
    background: url('./assets/eddie-3.png') no-repeat;
    background-size: cover;
    position: absolute;
    right: -200px;
    top: 0;
}